<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <%
=begin%>
 <div class="field">

    <%= form.hidden_field :created_by, value: current_user.username, readonly: true,  class:"form-control" %>
  </div> 
<%
=end%>

  <div class="field">

    <%= form.hidden_field :project_owner, value: current_user.id, readonly: true,  class:"form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :members, value: current_user.id %>
  </div>

  <%
=begin%>
 <% if project.project_owner %>

  <% if current_user.id == project.project_owner %>
      <%= form.label :members %>
      <%= form.select :members, User.all.collect {|user| [user.username, user.id]}, {}, class:"dropdown-item bg-light" %>
    <% end %>
  <% end %> 
<%
=end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

