

<h1>Bugs</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Branch</th>
      <th>Severity</th>
      <th>Created by</th>
      <th>Status</th>
      <th>Assigned to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.id %></td>
        <td><%= link_to bug.title, bug%></td>
        <td><%= bug.branch %></td>
        <td><%= bug.severity %></td>
        <td><%= bug.created_by %></td>
        <td><%= bug.status %></td>
        <td><%= bug.assigned_to %></td>

        <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_bug_path %>
