<div class="card m-4" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><%= @bug.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Date Reported: <%= @bug.created_at %></h6>
    <h6 class="text-muted card-subtitle">Reported By: <%= @bug.created_by %></h6>
    <h6 class="">Branch: <%= @bug.branch %> </h6>
    <h6>Severity: <%= @bug.severity %> </h6>
    <h6>Status: <%= @bug.status %></h6>
    <h6>Assigned To: <%= @bug.assigned_to %></h6>
    <%= @bug.project_id %>
    <h5>Description:</h5>
    <p class="card-text"><%= @bug.description %></p>
    <div class="card border-light mb-3" style="max-width: 100%;">
      <div class="card-header">Steps to Reproduce</div>
        <div class="card-body">

          <p class="card-text"><%= @bug.repro_steps %></p>
        </div>
      </div>
  </div>
</div>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
